{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Hello pcs 1-24</h1>
    <div class="row">
        {% for news in page_obj %}
        <div class="col-4">
            <div class="card">
            {% if news.image %}
            <img src="{{news.image.url}}" class="card-img-top">
            {% else %}
                <img width="300px" src="https://nazarnews.org/media/news_images/2020/05/27/NazarNews_49563553593097062998281876513878573893.jpg" alt="">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{news.title}}</h5>
                <p class="card-text">{{news.description|truncatewords:10|safe}}</p>
                <a href="{% url "news_detail" news.slug %}" class="btn btn-primary">Перейти</a>
            </div>
            </div> 
        </div>
        {% endfor %}
    </div>
    <!--  -->
    <nav class="mt-5" aria-label="Навигация по страницам">
        <ul class="pagination justify-content-center"> 
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    ← Назад
                </a>
            </li>
            {% endif %} 
            {% for num in page_obj.paginator.page_range %}
                {% if num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %} 
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    Следующая →
                </a>
            </li>
            {% endif %} 
        </ul>
    </nav>
    <!--  -->
</div>
{% endblock content %}

